build/
Graphics/

.DS_Store               # Fichiers invisibles macOS
Thumbs.db               # Fichiers invisibles Windows apparement

.vscode

CMakeCache.txt
CMakeFiles/
cmake_install.cmake_install
MakeFile
